<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FaDAm - Data Export</title>

  <!-- Custom fonts for this template-->
  <link href="{{ static_url("vendor/fontawesome-free/css/all.min.css") }}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{{ static_url("css/sb-admin-2.min.css") }}" rel="stylesheet">
  <link href="{{ static_url("vendor/datatables/dataTables.bootstrap4.min.css") }}" rel="stylesheet">
  <link href="{{ static_url("css/datepicker.css") }}" rel="stylesheet">
  <link href="{{ static_url("css/jquery.dataTables.min.css") }}" rel="stylesheet">
  <link href="{{ static_url("css/select.dataTables.min.css") }}" rel="stylesheet">
  <link href="{{ static_url("css/buttons.dataTables.min.css") }}" rel="stylesheet">
  <link href="{{ static_url("css/tabulator.min.css") }}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
            </div>
            <div class="sidebar-brand-text mx-3">TEAWON Idustry</div>
          </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Data
        </div>

        <li class="nav-item active">
          <a class="nav-link" href="/data_sheet/export">
            <i class="fas fa-fw fa-file-export"></i>
            <span>Data Export</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Sensors
        </div>

        <!-- Nav Item - Prediction Statistics -->
        <li class="nav-item">
          <a class="nav-link" href="/sensor/management">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Sensor Management</span></a>
        </li>



        <!-- Nav Item Icons: "fas fa-fw fa-tachometer-alt", "fas fa-fw fa-cog", "fas fa-fw fa-chart-line", "fas fa-fw fa-wrench", "fas fa-fw fa-folder"-->

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
              <div class="input-group">

                <div class="input-group-append">

                </div>
              </div>
            </form>

              <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" id="userDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"><b>FaDAm</b>:<b>Fa</b>ctory <b>D</b>ata <b>A</b>nalysis Syste<b>m</b></span>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                </div>
              </li>

            </ul>

          </nav>
          <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">DATA EXPORT</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
              <div class = "date_search" style = "margin-left: 20px; margin-top: 20px; margin-bottom: -15px; margin-right: 20px; width 100%;">
                   <b>QUERY DATE</b> &nbsp <input id="min_date" name="min" style="width:95px;height:25px"> ~ <input id="max_date" name="max" style="width:95px;height:25px"> &nbsp <button id="query_by_date" type="button" class="btn btn-primary" style="height:30px;font-size:12px;margin-bottom:10px;margin-top:5px;">Query</button>

                      <button id="download_table" class="btn btn-primary" style="height:30px;font-size:12px;margin-bottom:10px;margin-top:5px; position: absolute; right: 25px; background-color: #e60000; border-color:#e60000"> Download </button>
              </div>

            <div class="card-body">
              <div class="table-responsive">
                <div id="data-table"></div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Jinmyeong Shin 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ static_url("vendor/jquery/jquery.min.js") }}"></script>
  <script src="{{ static_url("vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ static_url("vendor/jquery-easing/jquery.easing.min.js") }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ static_url("js/sb-admin-2.min.js") }}"></script>

  <!-- Page level plugins -->
  <script src="{{ static_url("vendor/datatables/jquery.dataTables.min.js") }}"></script>
  <script src="{{ static_url("vendor/datatables/dataTables.bootstrap4.min.js") }}"></script>

  <!-- data editing -->
  <script src="{{ static_url("js/bootstrap-datepicker.js") }}"></script>
  <script src="{{ static_url("js/dataTables.buttons.min.js") }}"></script>
  <script src="{{ static_url("js/dataTables.select.min.js") }}"></script>
  <script src="{{ static_url("js/altEditor/dataTables.altEditor.free.js") }}"></script>

  <script src="{{ static_url("js/tabulator.min.js") }}"></script>

  <script>
      var table = new Tabulator("#data-table", {
          layout:"fitDataFill",
          height:"65vh",
          columns:[
              {title:"Data ID", field:"data_id", align:"right"},
              {title:"Date", field:"date", align:"center"},
              {title:"Count/Date", field:"date_cnt", align:"right"},
              {title:"Data 1", field:"axial", align:"right"},
              {title:"Data 2", field:"radial", align:"right"},
              {title:"Data Stat.", field:"data_stat", align:"right"},
              {title:"Sensor ID", field:"sensor_id", align:"right"},
          ],
      });

      $("#query_by_date").click(function() {
          if ($("#min_date").val() == '') {
              min_date = '0001-01-01';
          } else {
              min_date = $("#min_date").val();
          }

          if ($("#max_date").val() == '') {
              max_date = '9999-12-29';
          } else {
              max_date = $("#max_date").val();
          }

          req_data = JSON.stringify({
              min_date: min_date,
              max_date: max_date,
              table_name: "lvdt_data"
          });

          $.ajax({
              type: "POST",
              url: "/data/export",
              data: req_data,
              success : function(res) {
                  response = JSON.parse(res);
                  if (response.error) {
                      alert(response.msg);
                  } else {
                      data = JSON.parse(res).data
                      table.setData(data);
                  }
              },
              error : function(err) {
                  alert("fail");
              }
          });
      });

      $("#download_table").click(function() {
          var file_name = "lvdt_data_from_";

          if (table.getDataCount() == 0) {
              alert("No Data Loaded.");
              return;
          }

          if ($("#min_date").val() == '') {
              file_name += 'initial_to_';
          } else {
              file_name += $("#min_date").val() + '_to_';
          }

          if ($("#max_date").val() == '') {
              var cur = new Date();
              file_name += 'last(' + cur.getFullYear() + '-' + (cur.getMonth()+1) + '-' + cur.getDate() + ')';
          } else {
              file_name += $("#max_date").val();
          }

          table.download("csv", file_name);
      });

      $( function() {
          $( "#min_date" ).datepicker({
            format: "yyyy-mm-dd",
          });
          $( "#max_date" ).datepicker({
            format: "yyyy-mm-dd",
          });
        } );
    </script>

</body>

</html>
